altgraph==0.17
asyncio==3.4.3
attrs==20.2.0
Babel==2.8.0
click==7.1.2
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Login==0.5.0
Flask-Mobility==1.1.0
immutabledict==1.1.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
mongoengine==0.20.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pymongo==3.11.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.2
pytest-asyncio==0.14.0
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
toml==0.10.2
tornado==6.1
Werkzeug==1.0.1
