{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

<div id="up">&#xf091;</div>

<div id="like">
    <div id="info">
        <div>
            {{ _('If you like the service please consider <a href="#donate">donating</a>. This helps us provide the best service and improve it constantly.') }}
        </div>
    </div>
    <div id="rootlet">L<br>I<br>K<br>E<br>?</div>
</div>

<div id="setup-status">
    <span></span>
    <span id="keys-file-url" class="tooltipped tooltipped-n tooltipped-multiline"
          aria-label="{{ _('Your keys only disappear from our server after you click \'Dismiss\' or start new setup.') }}">
        <a class="button" href="javascript:void(0)">{{ _('Download keys') }}</a>
    </span>

    <span id="dismiss-status" class="tooltipped tooltipped-nw tooltipped-multiline"
           aria-label="{{ _('Current keys will be erased from our server. But they do stay on your VPS server under your home folder. You always can download them via \'scp\' e.g.') }}">
        <a class="button danger" href="javascript:void(0)">{{ _('Dismiss') }}</a>
    </span>
</div>

    <section class="module parallax parallax-1">
        <header class="header">
            <div class="header-container">
                <div class="vpn-logo">vpn41</div>

                <ul class="header-menu">
                    <a href="#what-is-this"><li class="header-button">{{ _("What is this?") }}</li></a>
                    <a href="#setup-details"><li class="header-button">{{ _("Setup") }}</li></a>
                    <a href="#after-setup"><li class="header-button">{{ _("After setup") }}</li></a>
                    <a href="#connect-to-vpn"><li class="header-button">{{ _("Connect to VPN") }}</li></a>
                    <a href="#donate"><li class="header-button">{{ _("Donate") }}</li></a>
                    <a class="github" href="https://github.com/vpn41/vpn41">{#<li></li>#}</a>
                </ul>

                <div id="mobile-nav-open">
                    <div class="bar"></div>
                    <div id="middle-bar" class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </header>
        <div id="greetings" class="container">
            <h1 class="big">{{ _('<span class="bit-smaller">Setup Your</span><br>Own VPN Server<br><span class="bit-smaller">In a Few Clicks!</span>') }}</h1>
            <h1 class="small">{{ _('<span class="bit-smaller">Setup Your</span><br>Own VPN Server<br><span class="bit-smaller">In a Few Clicks!</span>') }}</h1>
            <a href="#what-is-this" class="see-farther">&#xf091;</a>
        </div>
    </section>

<section class="module content what-is-this">
    <div class="container">
        <h2 id="what-is-this">{{ _("What is this?") }}</h2>
        <p>
            {{
              _("This service provides you an ability to setup your own
              <a target=\"_blank\" href=\"https://en.wikipedia.org/wiki/Virtual_private_network\">VPN (Virtual Private Network)</a>
              server on your own
              <a target=\"_blank\" href=\"https://en.wikipedia.org/wiki/Virtual_private_server\">VPS (Virtual Private Server)</a>
              server or whatever server you have e.g. one in your private network. No need to have special knowledge.
              Just fill in the form below and click <span class=\"pre\">Setup</span>.")
            }}
        </p>
        <p>
            {{
              _("What means yours? You own your VPS server. You fully control your server, logs and whatever.
              (Note: In case of VPS your VPS provider has access to image of your server).
              This is just a server within a cloud. You are free to use any provider you like.
              On how to buy VPS details are below. If you have no idea what VPS is don't worry.
              To buy and use it here you don't need any special knowledge and skills.
              Usually VPN costs $5-15 per month allowing about 10 client to be online simultaneously.
              This service allows you to get a VPN with unlimited users for less money.")
            }}
        </p>
        <p>
            {{ _("Our goal is to make this setup as easy as possible to allow everybody have it own controlled VPN server.") }}
            {{ _('Also note that we use <a target="_blank" href="https://openvpn.net/">OpenVPN</a> software.
            One of most reliable and secure VPN software. As DNS server we use <a href="https://www.opendns.com/" target="_blank">OpenDNS</a>.') }}
        </p>
        <p>
            {{ _('What if you want to setup a server inside your local network or don\'t trust our servers.') }}
            {{ _('Run our app on your localhost and setup the server from there the same way as on the website.') }}
            {{ _('Please for details see the sources on <a href="https://github.com/vpn41/vpn41">GitHub</a>.') }}
        </p>

        <p class="note">
            {{ _("Be notified that illegal activity is prohibited and everything you do is your responsibility. VPN doesn't provide 100%% privacy.") }}
            {{ _("Note that Vpn4.One never cheats on you. We respect your privacy and strictly follow our <a href=\"/static/doc/privacy-policy.pdf\">privacy policy</a>.") }}
        </p>

        <h3>{{ _('How it works') }}</h3>
        <div class="how-it-works-list">
            <ul>
                <li>{{ _("Buy VPS") }}</li>
                <li>{{ _("Fill in the form below and click the <span class=\"pre\">Setup</span> button") }}</li>
                <li>{{ _("Get your keys by downloading via our web interface or directly from VPS via any method you like (<span class=\"pre\">scp</span> e.g.)") }}</li>
                <li>{{ _("Download and setup VPN client software on your platform(s)") }}</li>
            </ul>
        </div>
    </div>
</section>

<section class="module content setup-details">
  <div class="container">
    <h2 id="setup-details">{{ _("Setup") }}</h2>
    <h3>{{ _('Buy VPS') }}</h3>
    <p>
        {{ _('Select a VPS provider. We use') }}
        <a href="https://www.vultr.com/?ref=8017086" target="_blank">Vultr</a>.
        {{ _('New Jersey location costs for $3.5 per month.') }}
        {{ _('You are free to choose any location you like.') }}
    </p>
    <div id="vultr-guidey"></div>
    <p class="note">
        {{ _('For now only <span class=\"pre\">root</span> user and Ubuntu 20.04 LTS is supported.') }}
        {{ _('Do not enter addresses that begin with 10, 172 or 192 these are local and service won\'t work.') }}
        {{ _('To setup your local server run the app on your localhost and enter the local server address there.') }}
        {{ _('Please for details see the manual on <a href="https://github.com/vpn41/vpn41">GitHub</a>.') }}
    </p>

    <div id="vultr-guide"></div>

    <h3>{{ _('Give us ssh access to the VPS you bought') }}</h3>
    <form id="setup-form" action="/setup/" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row">
            <div class="col-lg-12">
                <label for="ip-address">{{ _('VPS IP address') }}</label>
                <span id="wrong-ip-address-warn" class="note"></span>
                <input id="ip-address" name="ip-address" required class="common-input form-control transition-all" type="text" placeholder="{{ _("IP address of the server") }}" />
            </div>
        </div>

        <div id="ssh-user-row" class="row">
            <div class="col-lg-12">
                <label for="ssh-user">{{ _('SSH User') }}</label>
                <input id="ssh-user" name="ssh-user" required hidden class="common-input form-control transition-all" type="text" value="root" placeholder="{{ _("SSH user (root is used by default by VPS providers)") }}" />
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <label for="ssh-password">{{ _('SSH Password') }}</label>
                <input id="ssh-password" name="ssh-password" required class="common-input form-control transition-all" type="password" placeholder="{{ _('Root\'s user account SSH password to your VPS server') }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <label class="checkbox-container">{{ _('First time setup') }}
                  <div class="alt-hint tooltipped tooltipped-ne tooltipped-multiline"
                       aria-label="{{ _('If checked VPN server is setup and 5 client keys are generated. If unchecked only 5 client keys are generated. Uncheck if it is NOT first setup for this server and you just want more client keys. Also be notified that if you RE set up your server the keys you generated before will stop working. Old server configuration is backed up on your server. You can easily restore it, but you should be familiar with ssh and terminal.') }}">
                      <span class="glyphicon glyphicon-question-sign"></span>
                  </div>
                  <input id="fs-checkbox" type="checkbox" name="first-setup" value="1" checked>
                  <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <label class="checkbox-container">{{ _('Download keys after setup') }}
                  <div class="alt-hint tooltipped tooltipped-ne tooltipped-multiline"
                       aria-label="{{ _('We download keys file for you. So you can save it via your browser. The link to the file will be available after setup completed.') }}">
                      <span class="glyphicon glyphicon-question-sign"></span>
                  </div>
                  <input id="dl-keys-checkbox" type="checkbox" name="download-keys" value="1" checked>
                  <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <label class="checkbox-container">{{ _('Will use on Linux (*nix)') }}
                  <div class="alt-hint tooltipped tooltipped-ne tooltipped-multiline"
                       aria-label="{{ _('This option regards to \'/etc/openvpn/update-resolv-conf\' script and only has effect on Linux.
                       For usage on Windows or mobile uncheck this.') }}">
                      <span class="glyphicon glyphicon-question-sign"></span>
                  </div>
                  <input id="platform-checkbox" type="checkbox" name="platform" value="linux">
                  <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {{ _("Keys are stored in your home directory in ") }}<span class="pre">~/myvpn</span>.
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="submit-button-wrap">
                    <button id="setup-button" class="common-button transition-all" type="submit">{{ _('Setup') }}</button>
                </div>
            </div>
        </div>
    </form>
  </div>
</section>

<section class="module content after-setup">
    <div class="container">
        <h2 id="after-setup">{{ _("After setup") }}</h2>
        <p>
            {{ _('It\'s strongly recommended to change the root\'s password.') }}
            {{ _('This section provides linux terminal commands you can use to change the VPS password and/or
            check that we have no access to your server via ssh keys. You can just copy and paste these to the console.
            To paste to the terminal on linux press <span class="pre">Ctrl+Shit+V</span>. On windows right mouse click.') }}
        </p>
        <h3>{{ _('First you need to login to your system') }}</h3>
        <p>
            {{ _('These instructions are both for Linux and Windows 10.
            Open terminal on your system. On windows open main menu and search for <span class="pre">cmd.exe</span>.
            Then paste lines below.') }}
        </p>
        <p>
            <pre>ssh root@&lt;Your VPS IP Address&gt;</pre>
        </p>
        <p>
            {{ _('You will be asked for the password. Note that no symblos are shown while you are entering password.') }}
        </p>

        <h3>{{ _('How to change VPS password') }}</h3>
        <p>
            <pre>passwd</pre>
        </p>

        <p>
            {{ _('Enter new password. Note that also no symblos are shown while you are entering password.') }}
            {{ _('Please remember to create strong password. To check the password strength you can use one of the tools available online') }}
            {{ _('e.g. <a href="http://www.passwordmeter.com/" target="_blank">this one</a>.') }}
            {{ _('You can also use <a href="https://passwordsgenerator.net/" target="_blank">password generator</a>.') }}
            {{ _('Note that if you forget the password there is no way to get in to the server.') }}
            {{ _('In that case the only way is to re deploy the server and setup it again.') }}
        </p>
        <h3>{{ _('How to check whether whoever is able to login to your server via ssh keys') }}</h3>
        <p>
            <pre>[ -f ~/.ssh/authorized_keys ] && cat ~/.ssh/authorized_keys</pre>
        </p>

        <p>
            {{ _('If above command shows nothing nobody have access to your server via ssh keys.
            If you wish you can just delete this file that will forbids ssh key pair access for
            anyone who has the access for now. This file just contains user identifiers that are allowed
            to login via public/private keys pair. Delete a line in this file to inhibit login for this particular user.') }}
        </p>
        <p>
            {{ _('To remove the file use this.') }}
        </p>
        <p>
            <pre>rm ~/.ssh/authorized_keys</pre>
        </p>
    </div>
</section>

<section class="module content connect-to-vpn">
    <div class="container">
        <h2 id="connect-to-vpn">{{ _('Connect to VPN') }}</h2>
        <p>
            {{ _('Unpack your keys (<span class="pre">.ovpn</span> files) from archive you downloaded.
            You can rename these files to anything meaningfull to make farther usage more comfortable.') }}
        </p>

        <p>
            {{ _('<strong>Windows, MacOS, Android, iOS</strong>. Download the client <a href="https://openvpn.net/download-open-vpn/" target="_blank">here</a>.') }}
            {{ _('In pictures below Windows is used. But OpenVPN client has the same interface for all platforms. So the process should be similar.') }}
        </p>

        <div id="ovpn-win-guide"></div>

        <p>
            {{ _('<strong>Linux</strong>. For Ubuntu/Debian based use.') }}
            <pre>sudo apt install openvpn</pre>
        </p>
        <p>
            {{ _('For Manjaro or other Arch based distro use.') }}
            <pre>sudo pacman -S openvpn</pre>
        </p>

        <p>
            {{ _('We assume the path to key is <span class="pre">/home/&lt;username&gt;/myvpn/mykey.ovpn</span>.') }}
            {{ _('Add the following line to <span class="pre">/etc/rc.local</span> before <span class="pre">exit 0</span> statement.') }}
            {{ _('To run it manually execute this line with <span class="pre">sudo</span>.') }}
            <pre>openvpn --config /home/&lt;username&gt;/myvpn/mykey.ovpn --daemon</pre>
        </p>

        <p>
            {{ _('To enable (if not yet) <span class="pre">rc.local</span> support on Ubuntu 20.04 LTS issue these.') }}
            <pre>{ echo '#!/bin/sh -e'; echo 'exit 0'; } | sudo tee /etc/rc.local
sudo systemctl enable rc-local</pre>
        </p>

        <p>
            {{ _('On Manjaro.') }}
            <pre>yay -S rc-local</pre>
        </p>

        <p>
            {{ _('See <a href="https://wiki.archlinux.org/index.php/OpenVPN#The_update-resolv-conf_custom_script" target="_blank">this manual</a> to properly override DNS.') }}
        </p>
    </div>
</section>

<section class="module content donate">
    <div class="container">
        <h2 id="donate">{{ _("Donate") }}</h2>
        <p>
            {{ _('If you like the service please consider donating.') }}
        </p>

        <div class="row">
            <div class="col-sm-12">
                <a class="donate-with-crypto" href="https://commerce.coinbase.com/checkout/5bfb4ea2-8676-4bbf-a232-2e7226730ed3">
                    Donate with Crypto
                </a>
                <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807"></script>
            </div>
        </div>
    </div>
</section>

<section class="module content contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li><a target="_blank" href="https://en.wikipedia.org/wiki/Virtual_private_network">What is VPN?</a></li>
                    <li><a target="_blank" href="https://en.wikipedia.org/wiki/Virtual_private_server">What is VPS?</a></li>
                    <li><a href="https://vultr.com" target="_blank">Vultr</a></li>
                    <li><a target="_blank" href="https://openvpn.net/">OpenVPN</a></li>
                    <li><a href="https://openvpn.net/download-open-vpn/" target="_blank">OpenVPN Connect</a></li>
                    <li><a target="_blank" href="https://www.opendns.com/">OpenDNS</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="https://wiki.archlinux.org/index.php/OpenVPN#The_update-resolv-conf_custom_script" target="_blank">Proper DNS setup with update-resolv-conf on Linux</a></li>
                    <li><a href="http://www.passwordmeter.com/" target="_blank">Estimate password strength</a></li>
                    <li><a href="https://passwordsgenerator.net/" target="_blank">Generate password</a></li>
                    <li><a target="_blank" href="http://cqcounter.com/whois/what_is_my_ip.php">What is my IP?</a></li>
                    <li><a target="_blank" href="https://www.dnsleaktest.com/">Sure dns leakage is void</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a class="github" href="https://github.com/vpn41/vpn41"></a></li>
                    <li><a href="{{ url_for('static', filename='doc/privacy-policy.pdf') }}">Privacy policy</a></li>
                    <li><a href="{{ url_for('static', filename='doc/terms-of-service.pdf') }}">Terms of service</a></li>
                    <li>Drop us a line: <span id="mail-to"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="copyright">&copy;2021 Vpn4.One</span>
            <ul>
                <a href="#what-is-this"><li>{{ _("What is this?") }}</li></a>
                <a href="#setup-details"><li>{{ _("Setup") }}</li></a>
                <a href="#after-setup"><li>{{ _("After setup") }}</li></a>
                <a href="#connect-to-vpn"><li>{{ _("Connect to VPN") }}</li></a>
                <a href="#donate"><li>{{ _("Donate") }}</li></a>
            </ul>
        </div>
    </footer>
</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/lib/nanogallery2/jquery.nanogallery2.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/alertify-js/build/alertify.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/mobile-detect/mobile-detect.min.js') }}"></script>

<script>
{#
  var social = {
    onGoogleShareClick: function() {
      window.open('https://plus.google.com/share?url=http://domain',
              undefined, 'width=600,height=400');
    },

    onFacebookShareClick: function() {
      window.open('http://www.facebook.com/sharer/sharer.php?u=http://domain',
              undefined, 'width=600,height=400');
    }
  };
#}

{% autoescape false %}
var setupStatus = {{ status }};
{% endautoescape %}

$(function () {
    var md = new MobileDetect(window.navigator.userAgent);
    if (md.mobile()) {
        $("section.module.parallax").css("background-attachment", "scroll");
    }

    $('#platform-checkbox').prop('checked', getOS() == 'Linux');
});

$(function() {
    var originalStrings = ['{{ _('Setting up') }}', '{{ _('Setting up.') }}', '{{ _('Setting up..') }}', '{{ _('Setting up...') }}'];
    var setupStrings = originalStrings.slice();

    function getStatus() {
        $.getJSON('/status/', function(status) { reflectStatus(status); }).fail(function() {
                alertify.error('{{ _('Getting status failed') }}');
                reflectFailure();
        });
    }

    function reflectFailure() {
        var message = $('#setup-status span:nth-child(1)');
        $('#setup-status').attr('class', 'failure');
        message.text('{{ _('Setup failed, unfortunately, something went wrong...') }}');
        $('#dismiss-status').removeClass('tooltipped');
    }

    function reflectStatus(status) {
        $('#setup-status').fadeIn('fast');
        $('#keys-file-url').hide();
        $('#dismiss-status').hide();

        if (status.status == 'undefined') {
            return;
        }

        var message = $('#setup-status span:nth-child(1)');

        if (status.status == 'pending') {
            $('#setup-status').attr('class', 'pending');
            message.text(setupStrings[0]);
            setupStrings = setupStrings.slice(1, setupStrings.length).concat(setupStrings[0]);
            $('#setup-status').show();
            setTimeout(getStatus, 1000);
            return;
        }

        var isOk = status.hasOwnProperty('ok') && status.ok;
        if (isOk) {
            if (status.hasOwnProperty('keys_file_url')) {
                $('#keys-file-url a').attr('href', status.keys_file_url);
                $('#keys-file-url').show();
                $('#dismiss-status').addClass('tooltipped');
            } else {
                $('#keys-file-url').hide();
                $('#dismiss-status').removeClass('tooltipped');
            }
            message.text('{{ _('Succeeded') }}');
            $('#setup-status').attr('class', 'ok');
        } else {
            reflectFailure();
        }

        $('#dismiss-status').show();
        $('#setup-status').show();
    }

    reflectStatus(setupStatus);

    function closeMenu() {
        $('.header-menu').css('right', '-175px');
        $('#middle-bar').fadeIn(300);
        $('#mobile-nav-open .bar:first-of-type').css({'transform': 'rotate(0)', 'top': '0'});
        $('#mobile-nav-open .bar:last-of-type').css({'transform': 'rotate(0)', 'bottom': '5px'});
    }

    function openMenu() {
        $('.header-menu').css('right', '0');
        $('#middle-bar').fadeOut(300);
        $('#mobile-nav-open .bar:first-of-type').css({'transform': 'rotate(45deg)', 'top': '10px'});
        $('#mobile-nav-open .bar:last-of-type').css({'transform': 'rotate(-45deg)', 'bottom': '15px'});
    }

    function isMenuOpened() { return $('.header-menu').css('right') == '0px'; }

    $('#mobile-nav-open').click(function() {
        if (isMenuOpened()) {
            closeMenu();
        } else {
            openMenu();
        }
    });

    $('#dismiss-status a').click(function() {
{#        $('#setup-status').hide();#}
        $('#setup-status').fadeOut('slow');
        $.ajax({ url: '/status/', method: 'DELETE' });
    });

    $(window).scroll(function (e)
    {
        var distanceY = $(window).scrollTop(),
            shrinkOn = 70,
            $header = $("header");
        var enabled = distanceY > shrinkOn;
        $header.toggleClass('fixed', enabled);
        $('#up').toggleClass('shown', enabled);
        setTimeout(function() {
            $header.toggleClass("revialed", enabled);
        }, 0);
    });

    $('a[href*=#]:not([href=#])').click(function() {
      closeMenu();

      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 700);
          return false;
        }
      }
    });

    $('#up').click(function() {
          $('html,body').animate({ scrollTop: 0 }, 500);
    });

    $("#setup-form").submit(function() {
      $.post($(this).attr('action'), $(this).serialize(),
              function(data, status, xhr) {
                  getStatus()
              }).fail(function(xhr, status, error) {
                  alertify.error('{{ _('An error occurred') }}');
              });
      return false;
    });

{#
    $("#subscribe-form").submit(function() {
      closeMenu();
      $.post($(this).attr('action'), $(this).serialize(),
              function(data, status, xhr) {
                  alertify.success(data);
              }).fail(function(xhr, status, error) {
                  alertify.error('{{ _('An error occurred') }}');
              });
      return false;
    });

    $("#contact-form").submit(function() {
      $.post($(this).attr('action'), $(this).serialize(),
              function(data, status, xhr) {
                  alertify.success(data);
              }).fail(function(xhr, status, error) {
                  alertify.error('{{ _('An error occurred') }}');
              });
      return false;
    });
#}

   $("#vultr-guide").nanogallery2( {
        thumbnailHeight: 150,
        thumbnailWidth: 150,
        itemsBaseURL: '{{ url_for('static', filename='img/vultr/') }}',
        thumbnailLabel: { titleMultiLine: true },
        viewerTools: {
            topLeft: 'label',
            topRight :'fullscreenButton, closeButton'
        },
        items: [
            { src: '1.png', srct: 'thumb/1.png', title: 'Add new server instance'},
            { src: '2.png', srct: 'thumb/2.png', title: 'Select server location, select any you like, but NY is the cheapest one' },
            { src: '3.png', srct: 'thumb/3.png', title: 'Select OS Ubuntu 20.04' },
            { src: '4.png', srct: 'thumb/4.png', title: "Select server size, minimum is enough and click 'Deploy now'" },
            { src: '5.png', srct: 'thumb/5.png', title: "Click on the server instance you just deployed" },
            { src: '6.png', srct: 'thumb/6.png', title: "Click on copy icons and fill in the form on Vpn4.One with it's ip and password" }
          ]
   });

   $("#ovpn-win-guide").nanogallery2( {
        thumbnailHeight: 150,
        thumbnailWidth: 150,
        itemsBaseURL: '{{ url_for('static', filename='img/ovpn-client/') }}',
        thumbnailLabel: { titleMultiLine: true },
        viewerTools: {
            topLeft: 'label',
            topRight :'fullscreenButton, closeButton'
        },
        items: [
            { src: '1.png', srct: 'thumb/1.png', title: 'Download the keys archive'},
            { src: '2.png', srct: 'thumb/2.png', title: 'Extract \'.ovpn\' files somewhere and optionally rename' },
            { src: '3.png', srct: 'thumb/3.png', title: 'Run OpenVPN client, select \'File\' tab then drop the key to OpenVPN' },
            { src: '4.png', srct: 'thumb/4.png', title: "Click 'Add'" },
            { src: '5.png', srct: 'thumb/5.png', title: "Connect to the server" },
            { src: '6.png', srct: 'thumb/6.png', title: "You should see client is connected" }
          ]
   });

   $('.module.parallax.parallax-1').height($(window).height());

   var at = '@';
   $('#mail-to').html(`<a href="mailto:mail${at}vpn4.one">mail${at}vpn4.one</a>`);

   $('#ip-address').keyup((event) => {
       if (window.location.hostname != 'vpn4.one') {
           return;
       }

       const messageHolder = $('#wrong-ip-address-warn');
       messageHolder.hide();
       messageHolder.text('');
       const localAdresses = ['10.', '172.', '192.'];

       for (const s of localAdresses) {
           if ($(event.target).val().startsWith(s)) {
                messageHolder.html("{{ _('It looks like you are entering local address. Run app from inside your local network to make it work. Look <a href=\\"https://github.com/vpn41/vpn41\\">here</a>.') }}");
                messageHolder.show();
                return;
           }
       }
   });
}); // on ready
</script>
{% endblock %}


